body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  padding: 30px;
}

h1 {
  text-align: center;
}

.cards {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.card {
  border: 1px solid white;
  padding: 12px;
  text-align: center;
}

.box {
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #999;
}

.box1 {
  background: #8ed63c;
}

.box2 {
  background: #7900a5;
}

.box3 {
  background: #3cff32;
}

.box4 {
  background: #c50070;
}

.box5 {
  background: #df5795;
}

.box6 {
  background: #3d5fc7;
}

.box7 {
  background: #a8f3c1;
}

.box8 {
  background: #52006f;
}

.card p {
  font-size: 12px;
  margin: 10px 0 0;
}

.message {
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}