body{
    font-family:monospace;
    background-color: rgb(236, 244, 251);
    text-align: center;
}

input{
    padding: 10px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 25px;
    
}

button{
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    background-color: #8A2BE2;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    
}

button:hover{
    background-color: #6A0DAD;
    
}

.card{
    width: 250px;
    background-color: rgb(211, 230, 248);
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin: 15px;
}

.card:hover{
    background-color: #d0c0f9;
}

#students{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#hi{
    margin: 0;
    font-size: 23px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight:200;
}

#login{
    margin: 0;
    width: 70px;
    background-color: #8ebef9;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}

hr{
    /* border-radius: none ; */
    color:black;
}

#login:hover{
    background-color: #569cf3;
    cursor: pointer;
}